@charset "utf-8";

/* font family : Kia Signature */
@font-face {
    font-family: "KiaSignature";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("KiaSignature"),
    url("../fonts/KiaSignatureBold.eot"),
    url("../fonts/KiaSignatureBold?#iefix") format("embedded-opentype"),
    url("../fonts/KiaSignatureBold.woff2") format("woff2"),
    url("../fonts/KiaSignatureBold.woff") format("woff")
}
@font-face {
    font-family: "KiaSignature";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("KiaSignature"),
    url("../fonts/KiaSignatureRegular.eot"),
    url("../fonts/KiaSignatureRegular?#iefix") format("embedded-opentype"),
    url("../fonts/KiaSignatureRegular.woff2") format("woff2"),
    url("../fonts/KiaSignatureRegular.woff") format("woff")
}
@font-face {
    font-family: "KiaSignature";
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: local("KiaSignature"),
    url("../fonts/KiaSignatureLight.eot"),
    url("../fonts/KiaSignatureLight?#iefix") format("embedded-opentype"),
    url("../fonts/KiaSignatureLight.woff2") format("woff2"),
    url("../fonts/KiaSignatureLight.woff") format("woff")
}