<!Doctype html>
<html lang="ko">
    <head>
        <title>Careers | 기아 인재채용 블로그</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="기아 인재채용 블로그">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="기아 인재채용 블로그">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="sub-hd has-sub-hd-wrap" id="careersSubHd">
                <div class="grid1170">
                    <div class="sub-hd-wrap">
                        <h2 class="fs50 sub-hd-tit">Careers</h2>
                        <p class="fs24 sub-hd-txt"><span class="txt-break__mo">움직임이 곧 새로운 아이디어의</span> 출발이라고 믿는 사람들.<br><span class="txt-break__mo">당신도 동의한다면</span> 기아와 함께 하세요.</p>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                <article class="white sub-cmn-area">
                    <div class="grid1170">
                        <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="careers-figure-wrap">
                            <figure><img src="../../content/images/sub/careers-figure-img.jpg" alt="Join the movement, Inspire your tomorrow 소개 이미지"></figure>
                            <div class="careers-figure-cont">
                                <h3 class="fs60">Join the movement,<br>Inspire your tomorrow</h3>
                                <p class="fs18"><span class="txt-break__mo">기아에서 일한다는 것,</span> 이보다 더 즐거운 순간은 없을 것입니다.<br><span class="txt-break__mo">대담하고 창의적이며, 열린 마음을 가진</span> 사람들로 가득한 곳.</p>
                            </div>
                        </a>
                    </div> <!-- //grid -->
                </article> <!-- //intro -->
                <article class="sub-cmn-area">
                    <div class="grid1170">
                        <h3 class="fs30">Find Your Job</h3>
                        <ul class="job-list">
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-red job-list-ctg">신입</span>CEM(Customer Experience Management) 기획</p>
                                    <small class="fs14 job-list-date">2021-01-08 ~ 2021-01-20</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-green job-list-ctg">경력</span>싱가포르 E-Mobility 사업개발</p>
                                    <small class="fs14 job-list-date">2021-01-27 ~ 2021-02-09</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-red job-list-ctg">신입</span>커넥티드카/모빌리티 서비스 개발 (접수기간 연장)</p>
                                    <small class="fs14 job-list-date">2021-01-08 ~ 2021-01-20</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-red job-list-ctg">신입</span>안전환경부문 신입 상시채용</p>
                                    <small class="fs14 job-list-date">2021-01-08 ~ 2021-01-20</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-green job-list-ctg">경력</span>신사업 전략</p>
                                    <small class="fs14 job-list-date">2021-01-27 ~ 2021-02-09</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-green job-list-ctg">경력</span>글로벌 웹사이트 플랫폼 구축 및 온라인 커머스 기획</p>
                                    <small class="fs14 job-list-date">2021-01-27 ~ 2021-02-09</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-yellow job-list-ctg">인턴</span>[시간선택제] 드라이빙센터 매니저</p>
                                    <small class="fs14 job-list-date">2021-01-27 ~ 2021-02-09</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-red job-list-ctg">신입</span>안전환경부문 신입 상시채용</p>
                                    <small class="fs14 job-list-date">2021-01-08 ~ 2021-01-20</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-bluegrey job-list-ctg">기타</span>PBV 전장시스템 개발 설계, 자동차 특장 설계</p>
                                    <small class="fs14 job-list-date">2021-01-08 ~ 2021-01-20</small>
                                </a>
                            </li>
                            <li class="job-list-item">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="job-list-link">
                                    <p class="fs20 job-list-tit"><span class="fc-green job-list-ctg">경력</span>글로벌 웹사이트 플랫폼 구축 및 온라인 커머스 기획</p>
                                    <small class="fs14 job-list-date">2021-01-27 ~ 2021-02-09</small>
                                </a>
                            </li>
                        </ul>
                        <div class="flex-box flex-spc__cnt flex-align__cnt pagination">
                            <a href="javascript:void(0);" class="paging-arw-prev"><img src="../../content/images/common/pagination-arw-prev.png" alt="이전 화살표 아이콘"></a>
                            <a href="javascript:void(0);" class="paging-idx active">1</a>
                            <a href="javascript:void(0);" class="paging-idx">2</a>
                            <a href="javascript:void(0);" class="paging-idx">3</a>
                            <a href="javascript:void(0);" class="paging-idx">4</a>
                            <a href="javascript:void(0);" class="paging-idx">5</a>
                            <a href="javascript:void(0);" class="paging-arw-next"><img src="../../content/images/common/pagination-arw-next.png" alt="다음 화살표 아이콘"></a>
                        </div>
                    </div> <!-- //grid -->
                </article> <!-- //Find Your Job -->
            </div> <!-- //sub common wrapper -->
            <a href="http://career.kia.com/kfront/webapply/applyList.do?sort=0" target="_blank" title="새 창 이동" id="careersFixedBtn"><span class="fs16 label">채용공고 바로가기</span></a>
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    var windowST = $(this).scrollTop();
                    var hdHt = $("header").innerHeight();
                    var ftHt = $("footer").innerHeight();
                    var jobListTop = $(".job-list").offset().top - 200;
                    var jobListHt = $(".job-list").innerHeight();

                    if(windowST > jobListTop - hdHt) {
                        $("#careersFixedBtn").fadeIn(250);
                    } else {
                        $("#careersFixedBtn").fadeOut(250);
                    }

                    if(windowST > jobListTop + jobListHt - ftHt / 2) {
                        $("#careersFixedBtn").addClass("no-fixed");
                    } else {
                        $("#careersFixedBtn").removeClass("no-fixed");
                    }
                });
            });
        </script>
    </body>
</html>