<div class="ft-wrap">
    <ul class="ft-nav">
        <li>
            <a href="people.html" class="ft-nav-menu">People</a>
        </li>
        <li>
            <a href="culture.html" class="ft-nav-menu">Culture</a>
        </li>
        <li>
            <a href="talk.html" class="ft-nav-menu">Talk</a>
        </li>
        <li>
            <a href="careers.html" class="ft-nav-menu">Careers</a>
        </li>
        <li>
            <a href="talentPool.html" class="ft-nav-menu">Talent Pool</a>
        </li>
    </ul>
    <div class="ft-info">
        <div class="ft-outlink">
            <div class="flex-box flex-align__cnt">
                <ul class="ft-sns-list">
                    <li><a href="https://www.facebook.com/kia.co.kr" target="_blank" title="새 창 이동" class="ft-sns"><img src="../../content/images/common/footer-facebook-ico.png" alt="기아 페이스북 아이콘"></a></li>
                    <li><a href="http://pf.kakao.com/_bvxcCC" target="_blank" title="새 창 이동" class="ft-sns"><img src="../../content/images/common/footer-kakao-ico.png" alt="기아 카카오톡 아이콘"></a></li> <!-- 0322 zoe 수정 -->
                    <li><a href="javascript:void(0);" target="_blank" title="새 창 이동" class="ft-sns"><img src="../../content/images/common/footer-instagram-ico.png" alt="기아 인스타그램 아이콘"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCB7Cgf4ASzC6A6o_1v8Bt1g" target="_blank" title="새 창 이동" class="ft-sns"><img src="../../content/images/common/footer-youtube-ico.png" alt="기아 유튜브 아이콘"></a></li>
                </ul>
                <select class="familysite" title="기아 패밀리사이트" onchange="window.open(this.value, '_blank')">
                    <option value="javascript:void(0);" class="efw500">Family site</option>
                </select>
            </div>
        </div> <!-- //footer outlink  -->
        <div class="ft-txtmenu-list">
            <ul class="flex-box flex-align__cnt">
                <li>
                    <a href="privacy.html" class="ft-txtmenu">개인정보 처리방침</a>
                </li>
                <li>
                    <p class="ft-txtmenu copyright">COPYRIGHT(C) KIA MOTORS CORP. ALL RIGHTS RESERVED</p>
                </li>
            </ul>
        </div> <!-- //footer text menu -->
    </div> <!-- //footer information -->
</div> <!-- //footer wrap -->