<div class="flex-box flex-spc__btw hd-wrap flex-align__cnt">
    <button class="mo-nav-btn__open"><span class="txt-hidden">모바일 내비게이션 열기</span></button>
    <h1 class="hd-logo"><a href="index.html"><span class="txt-hidden">KIA </span>Talent Community</a></h1> <!-- //header logo -->
    <nav>
        <ul class="hd-nav-list">
            <li><a href="all.html" class="hd-nav-menu">전체보기</a></li>
            <li><a href="people.html" class="hd-nav-menu">People</a></li>
            <li><a href="culture.html" class="hd-nav-menu">Culture</a></li>
            <li><a href="talk.html" class="hd-nav-menu">Talk</a></li>
            <li><a href="careers.html" class="hd-nav-menu">Careers</a></li>
            <li><a href="talentPool.html" class="hd-nav-menu">Talent Pool</a></li>
            <li>
                <!-- <a href="login.html" class="hd-nav-menu hd-nav-menu__login">로그인</a> 로그인 전 메뉴 -->
                <button class="hd-nav-menu hd-nav-menu__user">기아님</button>
                <div class="hd-mymenu-box">
                    <button class="hd-mymenu-btn__close"><span class="txt-hidden">마이 메뉴 닫기</span></button>
                    <strong>기아님</strong>
                    <ul class="hd-mymenu-list">
                        <li>
                            <a href="myPost.html" class="fs14 hd-mymenu">나의 채용 포스트</a>
                        </li>
                        <li>
                            <a href="myNewsletter.html" class="fs14 hd-mymenu">채용 뉴스레터 설정</a>
                        </li>
                        <li>
                            <a href="myPool.html" class="fs14 hd-mymenu">인재풀 확인</a>
                        </li>
                        <li>
                            <a href="changeMyInfoLogin.html" class="fs14 fc-lightbluegrey hd-mymenu">개인정보 수정</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="fs14 fc-lightbluegrey hd-mymenu">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </li> <!-- //login & my menu -->
            <li>
                <div class="hd-search-btn">
                    <button class="hd-search-btn__open"><span class="txt-hidden">검색창 열기</span></button>
                    <button class="hd-search-btn__enter" onclick="location.href='search.html'"><span class="txt-hidden">검색하기</span></button>
                </div>
                <div class="hd-search-input">
                    <input type="text" title="검색어 입력하기" placeholder="검색어를 입력하세요.">
                    <button class="hd-search-btn__close"><span class="txt-hidden">검색창 닫기</span></button>
                </div>
                <ul class="hd-search-recommend-list fs14">
                    <li>기아</li>
                    <li>기아 공채</li>
                    <li>인재풀</li>
                </ul> <!-- 0312 zoe 3차 추가 -->
            </li> <!-- //header search -->
        </ul>
    </nav> <!-- //nav -->
    <button class="mo-search-btn__open"><span class="txt-hidden">검색창 열기</span></button>
</div> <!-- //header wrap  -->
<div class="mo-nav">
    <div class="mo-nav-hd">
        <h2 class="hd-logo__mo"><a href="index.html"><span class="txt-hidden">KIA </span>Talent Community</a></h2>
        <button class="mo-nav-btn__close"><span class="txt-hidden">모바일 내비게이션 닫기</span></button>
    </div>
    <div class="mo-nav-list">
        <ul>
            <li><a href="all.html" class="mo-nav-menu">전체보기</a></li>
            <li><a href="people.html" class="mo-nav-menu">People</a></li>
            <li><a href="culture.html" class="mo-nav-menu">Culture</a></li>
            <li><a href="talk.html" class="mo-nav-menu">Talk</a></li>
            <li><a href="careers.html" class="mo-nav-menu">Careers</a></li>
            <li><a href="talentPool.html" class="mo-nav-menu">Talent Pool</a></li>
            <li>
                <!-- <a href="login.html" class="mo-nav-menu mo-nav-menu__login">&gt; 로그인</a> 로그인 전 메뉴 -->
                <a href="javascript:void(0);" class="mo-nav-menu mo-nav-menu__user">기아님의 마이페이지<span class="more-ico"></span></a>
                <div class="mo-mymenu-box">
                    <ul class="mo-mymenu-list">
                        <li>
                            <a href="myPost.html" class="mo-mymenu">&gt; 나의 채용 포스트</a>
                        </li>
                        <li>
                            <a href="myNewsletter.html" class="mo-mymenu">&gt; 채용 뉴스레터 설정</a>
                        </li>
                        <li>
                            <a href="myPool.html" class="mo-mymenu">&gt; 인재풀 확인</a>
                        </li>
                        <li>
                            <a href="changeMyInfoLogin.html" class="mo-mymenu">&gt; 개인정보 수정</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mo-mymenu">&gt; 로그아웃</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div> <!-- //mobile nav -->
<div class="mo-search">
    <div class="mo-search-input">
        <input type="text" title="검색어 입력하기" placeholder="검색어를 입력하세요.">
        <button class="mo-search-btn__enter" onclick="location.href='search.html'"><span class="txt-hidden">검색하기</span></button>
    </div>
    <ul class="mo-search-recommend-list fs14">
        <li>기아</li>
        <li>기아 공채</li>
        <li>인재풀</li>
    </ul> <!-- 0312 zoe 3차 추가 -->
</div> <!-- //mobile search -->