<!Doctype html>
<html lang="ko">
    <head>
        <title>약관동의 | 회원가입 | 기아 인재채용 블로그</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="기아 인재채용 블로그">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="기아 인재채용 블로그">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header id="scrollHd" class="scroll"></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="lightgrey sub-hd">
                <div class="grid1170">
                    <h2 class="fs30 fc-black">회원가입</h2>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                <form>
                    <div class="pt0 cmn-form-area">
                        <div class="grid1170">
                            <div class="mb25 cmn-input-chk">
                                <input type="checkbox" id="joinTerm1">
                                <label class="fs18" for="joinTerm1">개인정보 수집 및 이용 동의 (필수)</label>
                            </div>
                            <div class="cmn-term-box">
                                <p class="fs16">개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달<br> 개인정보 수집 및 이용 동의 내용 별도 전달</p>
                            </div>
                        </div> <!-- //grid -->
                    </div> <!-- 개인정보 수집 및 이용 동의 (필수) -->
                    <div class="pt0 cmn-form-area">
                        <div class="grid1170">
                            <div class="mb25 cmn-input-chk">
                                <input type="checkbox" id="joinTerm2">
                                <label class="fs18" for="joinTerm2">민감정보 수집 및 이용 동의 (필수)</label>
                            </div>
                            <div class="cmn-term-box">
                                <p class="fs16">개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달<br> 개인정보 수집 및 이용 동의 내용 별도 전달</p>
                            </div>
                        </div> <!-- //grid -->
                    </div> <!-- 민감정보 수집 및 이용 동의 (필수) -->
                    <div class="pt0 cmn-form-area">
                        <div class="grid1170">
                            <div class="mb25 cmn-input-chk">
                                <input type="checkbox" id="joinTerm3">
                                <label class="fs18" for="joinTerm3">개인 정보 위탁 동의 (필수)</label>
                            </div>
                            <div class="cmn-term-box">
                                <p class="fs16">개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도<br>전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달 개인정보 수집 및 이용 동의 내용 별도 전달<br>개인정보 수집 및 이용 동의 내용 별도 전달<br> 개인정보 수집 및 이용 동의 내용 별도 전달</p>
                            </div>
                        </div> <!-- //grid -->
                    </div> <!-- 개인 정보 위탁 동의 (필수) -->
                    <div class="apply-pagebtn-area">
                        <div class="grid1170">
                            <div class="txt-cnt">
                                <a href="joinForm.html" class="fw700 pagelink-btn__lg fc-black"><span class="label" data-label="다음">다음</span></a>
                            </div>
                            <div class="pt20 txt-cnt">
                                <a href="javascript:void(0);" class="fw700 fs18 pagelink-txt-btn">취소</a>
                            </div>
                        </div>
                    </div> <!-- page link button -->
                </form>
            </div> <!-- //sub common wrapper -->
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>