<!Doctype html>
<html lang="ko">
    <head>
        <title>채용 뉴스레터 설정 | 마이 페이지 | Kia talent Community</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Kia talent Community">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="Kia talent Community">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header id="scrollHd" class="scroll"></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="lightgrey sub-hd">
                <div class="grid1170">
                    <h2 class="fs30 pagelink-tab-tit">채용 뉴스레터 설정</h2>
                    <ul class="pagelink-tab-list">
                        <li>
                            <a href="myPost.html" class="fs30 pagelink-tab">나의 채용 포스트</a>
                        </li>
                        <li>
                            <a href="myNewsletter.html" title="현재 탭" class="fs30 pagelink-tab active">채용 뉴스레터 설정</a>
                        </li>
                        <li>
                            <a href="myPool.html" class="fs30 pagelink-tab">인재풀 확인</a>
                        </li>
                    </ul>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                <div class="pt0 sub-cmn-area">
                    <div class="grid1170">
                        <p class="fw100 txt-cnt fs16">채용 뉴스레터를 수신하시면, <span class="txt-break__mo">신규 채용 소식과 기아 구성원들의 이야기를</span> 뉴스레터로 보내드립니다.</p> <!-- 0310 zoe 수정 -->
                        <form>
                            <div class="cmn-form-area">
                                <div class="cmn-form-field">
                                    <div class="cmn-form-row">
                                        <div class="col2">
                                            <label class="fs18 cmn-form-label" for="myNewsletterID">이메일 주소</label>
                                            <div class="cmn-form-el-box">
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt withbtn" id="myNewsletterID" value="ilovekia@kia.com" disabled>
                                                <div class="cmn-form-btn"><a href="changeMyInfoLogin.html" class="fs16">개인정보 변경</a></div>
                                            </div> <!-- 0310 zoe 수정 -->
                                        </div>
                                        <div class="col2">
                                            <label class="fs18 cmn-form-label">뉴스레터 수신 여부</label>
                                            <div class="cmn-radio-btn-box">
                                                <div class="cmn-radio-btn col2">
                                                    <input type="radio" name="receiveMyNewsletter" id="receiveMyNewsletterNo" checked="">
                                                    <label class="fs18" for="receiveMyNewsletterNo">수신안함</label>
                                                </div>
                                                <div class="cmn-radio-btn col2">
                                                    <input type="radio" name="receiveMyNewsletter" id="receiveMyNewsletterYes">
                                                    <label class="fs18" for="receiveMyNewsletterYes">수신</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="my-newsletter">
                            <img src="../../content/images/sub/my-newsletter-sample.jpg" alt="뉴스레터 이미지">
                        </div>
                    </div> <!-- //grid -->
                </div> <!-- //career newsletter -->
            </div> <!-- //sub common wrapper -->
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>