<!Doctype html>
<html lang="ko">
    <head>
        <title>인재풀 확인 | 마이 페이지 | 기아 인재채용 블로그</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="기아 인재채용 블로그">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="기아 인재채용 블로그">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header id="scrollHd" class="scroll"></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="lightgrey sub-hd">
                <div class="grid1170">
                    <h2 class="fs30 pagelink-tab-tit">인재풀 확인</h2>
                    <ul class="pagelink-tab-list">
                        <li>
                            <a href="myPost.html" class="fs30 pagelink-tab">나의 채용 포스트</a>
                        </li>
                        <li>
                            <a href="myNewsletter.html" class="fs30 pagelink-tab">채용 뉴스레터 설정</a>
                        </li>
                        <li>
                            <a href="myPool.html" title="현재 탭" class="fs30 pagelink-tab active">인재풀 확인</a>
                        </li>
                    </ul>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                 <!-- <div class="sub-cmn-area">
                    <div class="grid1170">
                        <div class="confirm-wrap">
                            <p class="fs18 confirm-txt">아직 인재풀에 지원하지 않으셨군요!<br>관심있는 직무에 인재풀을 등록해보세요.</p>
                            <a href="index.html" class="fw700 pagelink-btn__lg black"><span class="label" data-label="메인으로">메인으로</span></a>
                        </div>
                    </div>
                </div> //인재풀 이력이 없을 때 영역 -->
                <div class="pt0 sub-cmn-area">
                    <div class="grid1170">
                        <p class="pb15 fw100 fs16">인재풀에 등록된 지원서 목록</p>
                        <ul class="mypool-list">
                            <li class="mypool-list-item">
                                <div class="mypool-top">
                                    <div class="mypool-btn-box">
                                        <a href="talentPoolApply.html" class="fs16 mypool-btn">지원서 수정</a>
                                        <a href="javascript:void(0);" class="fs16 mypool-btn">지원서 삭제</a>
                                    </div>
                                    <strong class="fs18 fc-green">임시 저장</strong>
                                </div>
                                <div class="mypool-btm">
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">지원 부문</dt>
                                        <dd class="fs18 mypool-info">고객경험</dd>
                                    </dl>
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">최종 저장 일시</dt>
                                        <dd class="fs18 mypool-info">2021.02.03 13:56</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="mypool-list-item">
                                <div class="mypool-top">
                                    <div class="mypool-btn-box">
                                        <a href="javascript:void(0);" class="fs16 mypool-btn">지원서 삭제</a>
                                    </div>
                                    <strong class="fs18 fc-red">최종 제출</strong>
                                </div>
                                <div class="mypool-btm">
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">지원 부문</dt>
                                        <dd class="fs18 mypool-info">ITC</dd>
                                    </dl>
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">최종 저장 일시</dt>
                                        <dd class="fs18 mypool-info">2021.02.03 13:56</dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="mypool-list-item">
                                <div class="mypool-top">
                                    <div class="mypool-btn-box">
                                        <a href="talentPoolApply.html" class="fs16 mypool-btn">지원서 수정</a>
                                        <a href="javascript:void(0);" class="fs16 mypool-btn">지원서 삭제</a>
                                    </div>
                                    <strong class="fs18 fc-green">임시 저장</strong>
                                </div>
                                <div class="mypool-btm">
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">지원 부문</dt>
                                        <dd class="fs18 mypool-info">고객경험</dd>
                                    </dl>
                                    <dl class="flex-box flex-align__cnt">
                                        <dt class="fs18 mypool-ctg">최종 저장 일시</dt>
                                        <dd class="fs18 mypool-info">2021.02.03 13:56</dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- //grid -->
                </div> <!-- //career post list -->
            </div> <!-- //sub common wrapper -->
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>