<!Doctype html>
<html lang="ko">
    <head>
        <title>지원서 작성 | Talent Pool | Kia talent Community</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Kia talent Community">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="Kia talent Community">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="black sub-hd" id="applySubHd">
                <div class="grid1170">
                    <h2 class="fs50 sub-hd-tit">고객경험<small class="fs30">직무</small></h2>
                    <p class="fs20 sub-hd-txt">나기아 / olishao93@gmail.com / 010-3365-7118</p>
                    <ul class="apply-hd-btn-wrap">
                        <li><a href="myPool.html" class="fs16 apply-hd-btn">지원서 삭제</a></li>
                        <li><a href="changeMyInfoForm.html" class="fs16 apply-hd-btn">기본정보 변경</a></li>
                    </ul>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                <form>
                    <div class="cmn-form-area apply-add-area">
                        <div class="apply-add-wrap">
                            <div class="grid1170">
                                <p class="pb40 fw100 fs16 txt-rt"><span class="fc-red">*</span>는 <span class="fc-red">필수입력사항</span>입니다.</p>
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit">학력정보<span class="fc-red">*</span></dt>
                                    <dd class="cmn-form-field">
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="academicBg">학력</label>
                                                <select class="fs18 cmn-form-el cmn-select" id="academicBg">
                                                    <option>학력 선택</option>
                                                    <option>대학원 졸업</option>
                                                    <option>대학교 졸업</option>
                                                    <option>고등학교 졸업</option>
                                                </select>
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="GraduationStatus">졸업상태</label>
                                                <select class="fs18 cmn-form-el cmn-select" id="GraduationStatus">
                                                    <option>졸업상태 선택</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="schoolName">학교명</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="schoolName">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="major">전공</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="major">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="GPA">평점</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="GPA">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="totalGrade">총점</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="totalGrade">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="admissionDate">입학연월</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="admissionDate">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="graduationDate">졸업연월</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="graduationDate">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- //grid -->
                        </div> <!-- 추가 기능이 있는 폼 영역 : 기본 -->
                        <div class="apply-control-btn-box">
                            <div class="grid1170">
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit"><span class="txt-hidden">추가 버튼 영역</span></dt>
                                    <dd class="cmn-form-field">
                                        <button class="fs16 apply-control-btn">학력정보 추가</button>
                                    </dd>
                                </dl>
                            </div>
                        </div> <!-- // 추가 버튼 영역 (0315 2차 zoe 추가) -->
                    </div> <!-- //apply area : 학력정보 -->
                    <div class="cmn-form-area apply-add-area">
                        <div class="apply-add-wrap">
                            <div class="grid1170">
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit">경력사항</dt>
                                    <dd class="cmn-form-field">
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <div class="cmn-radio-btn-box">
                                                    <div class="cmn-radio-btn col2">
                                                        <input type="radio" name="careerStatus" id="careerYes" checked>
                                                        <label class="fs18" for="careerYes">있음</label>
                                                    </div>
                                                    <div class="cmn-radio-btn col2">
                                                        <input type="radio" name="careerStatus" id="careerNo">
                                                        <label class="fs18" for="careerNo">없음</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <p class="fs16 cmn-form-tip__btm">아르바이트 및 증빙이 불가능한 경력만 있을 경우 [없음]을 체크해주세요.</p>
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="corpName">회사명</label>
                                                <input type="hidden" value="false">
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="corpName">
                                                <p class="fs14 cmn-form-tip__btm">회사명을 입력해주세요.</p>
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="employeeType">직원 유형</label>
                                                <select class="fs18 cmn-form-el cmn-select" id="employeeType">
                                                    <option>직원 유형 선택</option>
                                                </select>
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="position">직급</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="position">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="joinDate">입사일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="joinDate">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="resignationDate">퇴사일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="resignationDate">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col1">
                                                <label class="fs14 cmn-form-label" for="assignedTask">담당업무</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="assignedTask">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- //grid -->
                        </div> <!-- 추가 기능이 있는 폼 영역 : 기본 -->
                        <div class="apply-add-wrap added">
                            <div class="grid1170">
                                <button class="fs16 apply-control-btn">삭제</button> <!-- 0315 2차 zoe 수정 -->
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit"><span class="txt-hidden">경력사항 (추가1)</span></dt>
                                    <dd class="cmn-form-field">
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="corpNameAdd1">회사명</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="corpNameAdd1">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="employeeTypeAdd1">직원 유형</label>
                                                <select class="fs18 cmn-form-el cmn-select" id="employeeTypeAdd1">
                                                    <option>직원 유형 선택</option>
                                                </select>
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="positionAdd1">직급</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="positionAdd1">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="joinDateAdd1">입사일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="joinDateAdd1">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="resignationDateAdd1">퇴사일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="resignationDateAdd1">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col1">
                                                <label class="fs14 cmn-form-label" for="assignedTaskAdd1">담당업무</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="assignedTaskAdd1">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- //grid -->
                        </div> <!-- 추가 기능이 있는 폼 영역 : 추가 -->
                        <div class="apply-control-btn-box">
                            <div class="grid1170">
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit"><span class="txt-hidden">추가 버튼 영역</span></dt>
                                    <dd class="cmn-form-field">
                                        <button class="fs16 apply-control-btn">경력사항 추가</button>
                                    </dd>
                                </dl>
                            </div>
                        </div> <!-- // 추가 버튼 영역 (0315 2차 zoe 추가) -->
                    </div> <!-- //apply add area : 경력사항 -->
                    <div class="cmn-form-area apply-add-area">
                        <div class="apply-add-wrap">
                            <div class="grid1170">
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit"><span class="txt-break">프로젝트</span> 수행이력</dt>
                                    <dd class="cmn-form-field">
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <div class="cmn-radio-btn-box">
                                                    <div class="cmn-radio-btn col2">
                                                        <input type="radio" name="projectExperience" id="projectExYes" checked="">
                                                        <label class="fs18" for="projectExYes">있음</label>
                                                    </div>
                                                    <div class="cmn-radio-btn col2">
                                                        <input type="radio" name="projectExperience" id="projectExNo">
                                                        <label class="fs18" for="projectExNo">없음</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <p class="fs16 cmn-form-tip__btm">프로젝트는 최대 5개까지 입력하실 수 있습니다.</p>
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectName">프로젝트명</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="projectName">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectRole">담당 역할</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="projectRole">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectType">프로젝트 유형</label>
                                                <select class="fs18 cmn-form-el cmn-select" id="projectType">
                                                    <option>프로젝트 유형 선택</option>
                                                </select>
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectCorp">프로젝트 기관(회사)</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="projectCorp">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectStartDate">시작일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="projectStartDate">
                                            </div>
                                            <div class="col2">
                                                <label class="fs14 cmn-form-label" for="projectEndDate">종료일</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" placeholder="YYYY-MM" id="projectEndDate">
                                            </div>
                                        </div>
                                        <div class="cmn-form-row">
                                            <div class="col1">
                                                <label class="fs14 cmn-form-label" for="projectRoleDetail">역할수행 상세내용</label>
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt" id="projectRoleDetail">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div> <!-- //grid -->
                        </div> <!-- 추가 기능이 있는 폼 영역 : 기본 -->
                        <div class="apply-control-btn-box">
                            <div class="grid1170">
                                <dl class="cmn-form-wrap__col">
                                    <dt class="fs24 cmn-form-tit"><span class="txt-hidden">추가 버튼 영역</span></dt>
                                    <dd class="cmn-form-field">
                                        <button class="fs16 apply-control-btn">프로젝트 수행이력 추가</button>
                                    </dd>
                                </dl>
                            </div>
                        </div> <!-- // 추가 버튼 영역 (0315 2차 zoe 추가) -->
                    </div> <!-- //apply add area : 프로젝트 수행이력 -->
                    <div class="cmn-form-area">
                        <div class="grid1170">
                            <dl class="cmn-form-wrap__col">
                                <dt class="fs24 cmn-form-tit">병역정보<span class="fc-red">*</span></dt>
                                <dd class="cmn-form-field">
                                    <div class="cmn-form-row">
                                        <div class="col2">
                                            <label class="fs14 cmn-form-label" for="military">병역구분</label>
                                            <select class="fs18 cmn-form-el cmn-select" id="military">
                                                <option>병역 구분 선택</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- //grid -->
                    </div> <!-- //apply area : 병역정보 -->
                    <div class="cmn-form-area">
                        <div class="grid1170">
                            <dl class="cmn-form-wrap__col">
                                <dt class="fs24 cmn-form-tit">자기소개<span class="fc-red">*</span></dt>
                                <dd class="cmn-form-field">
                                    <div class="cmn-form-row">
                                        <div class="col1">
                                            <p class="fs16 cmn-form-tip__top">직무 관련 경험을 1000자 내로 자유롭게 기입해주시기 바랍니다.</p>
                                            <div class="cmn-txtarea-box">
                                                <textarea class="fs18 cmn-form-el cmn-txtarea keyup1000" maxlength="1000" title="직무 관련 경험"></textarea>
                                                <p class="fs16 cmn-txtarea-counter"><b class="fc-black count">0</b>/1000</p>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- //grid -->
                    </div> <!-- //apply area : 자기소개 -->
                    <div class="cmn-form-area">
                        <div class="grid1170">
                            <dl class="cmn-form-wrap__col">
                                <dt class="fs24 cmn-form-tit">포트폴리오 <span class="txt-break">또는</span> 직무기술서</dt>
                                <dd class="cmn-form-field">
                                    <div class="cmn-form-row">
                                        <div class="col1">
                                            <p class="fs16 cmn-form-tip__top">직무 관련 경험을 정리한 포트폴리오 또는 직무기술서를 업로드해주시기 바랍니다.<br>포트폴리오 파일은 1개만 첨부됩니다.<br>복수 파일을 올리실 경우 압축하여 올려주시길 바라며, 용량이 200MB보다 클 경우 클라우드 공유 URL 링크를 추가해주세요.</p>
                                        </div>
                                    </div>
                                    <div class="cmn-form-row">
                                        <div class="col2">
                                            <label class="fs14 cmn-form-label" for="attachedFile">첨부파일</label>
                                            <div class="cmn-form-el-box">
                                                <input type="text" class="fs18 cmn-form-el cmn-input-txt withbtn" id="attachedFile">
                                                <div class="cmn-form-btn cmn-input-file"><input type="file"><button class="fs16">파일추가</button></div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <label class="fs14 cmn-form-label" for="attachedURL">URL</label>
                                            <input type="text" class="fs18 cmn-form-el cmn-input-txt withbtn" id="attachedURL">
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div> <!-- //grid -->
                    </div> <!-- //apply area : 포트폴리오 또는 직무기술서-->
                    <div class="apply-pagebtn-area">
                        <div class="grid1170">
                            <div class="flex-box flex-spc__cnt">
                                <a href="javascript:void(0);" class="fw700 pagelink-btn__lg fc-black"><span class="label" data-label="임시저장">임시저장</span></a>
                                <a href="javascript:void(0);" class="fw700 pagelink-btn__lg black" data-modal="alertSubmitModal" onclick="clickModal(this)"><span class="label" data-label="인재풀 지원하기">인재풀 지원하기</span></a>
                            </div>
                        </div>
                    </div> <!-- //apply area : 페이지 버튼 -->
                </form>
            </div> <!-- //sub common wrapper -->
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <!-- modal START -->
        <div class="modal-area alert-modal-area" id="alertSubmitModal">
            <div class="modal-wrap__abs">
                <!-- <button class="close-modal-btn"><span class="txt-hidden">Talent Community 로그인 레이어 팝업 닫기</span></button> -->
                <div class="modal-cont">
                    <div class="fs18 modal-txt has-ico">
                        <p>Talent Pool에 최종 제출한 지원서는<br>수정할 수 없습니다.<br>동일 부문의 경우, 기존 지원서를 삭제한 후<br>재지원이 가능한 점 유의해주시기 바랍니다.</p>
                    </div>
                </div>
                <div class="modal-btn-wrap">
                    <a href="javascript:void(0);" class="bluegrey fs24 close-modal-btn modal-btn__col2">취소</a>
                    <a href="javascript:void(0);" class="red fs24 modal-btn__col2">지원하기</a>
                </div>
            </div>
        </div> <!-- //최종제출 유의사항 얼럿 -->
        <div class="modal-area alert-modal-area" id="alertAgreeModal">
            <div class="modal-wrap__abs">
                <!-- <button class="close-modal-btn"><span class="txt-hidden">Talent Community 로그인 레이어 팝업 닫기</span></button> -->
                <div class="modal-cont">
                    <div class="fs18 modal-txt has-ico">
                        <p>지원서가 인재풀에 등록되어<br>상시 영입에 활용되기 위해서는<br>상시 영입 활용 동의가 필요합니다.<br>미동의시 지원서는<br>인재풀 지원서로 검토되지 않습니다.</p>
                    </div>
                </div>
                <div class="modal-btn-wrap">
                    <a href="javascript:void(0);" class="bluegrey fs24 close-modal-btn modal-btn__col2">취소</a>
                    <a href="javascript:void(0);" class="red fs24 modal-btn__col2">동의</a>
                </div>
            </div>
        </div> <!-- //상시 영입 활용 동의 얼럿 -->
        <!-- //modal START -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <script>
            $(document).ready(function(){
                $(".apply-add-area").each(function(){
                    var addedArea = $(this).find(".apply-add-wrap.added");

                    if(addedArea.length < 1) {
                        $(this).find(".apply-add-wrap").first().css("padding-bottom", 0);
                    }
                });
            });
        </script>
    </body>
</html>