<!Doctype html>
<html lang="ko">
    <head>
        <title>Talk(목록) | Kia talent Community</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="기아자동차, 채용, 채용블로그, 인재채용, 리쿠르트, 기아, KIA">
        <meta name="description" content="기아의 인재영입을 위한 커뮤니티 사이트">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Kia talent Community">
        <meta property="og:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="Kia talent Community">
        <meta name="twitter:description" content="기아의 인재영입을 위한 커뮤니티 사이트">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header></header>
        <!-- //header END -->
        <!-- sub page START -->
        <section>
            <div class="sub-hd has-sub-hd-wrap" id="talkSubHd">
                <div class="grid1170">
                    <div class="sub-hd-wrap">
                        <h2 class="fs50 sub-hd-tit">Talk</h2>
                        <p class="fs24 sub-hd-txt">챗봇으로 알아보는 직무별 이야기</p>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //sub header -->
            <div class="sub-cmn-wrapper">
                <div class="sub-cmn-area">
                    <div class="grid1170">
                        <ul class="cmn-list">
                            <li class="cmn-list-item col3">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="cmn-list-link__row">
                                    <div class="cmn-list-thumb"><img src="../../content/images/common/post-thumb-08.png" alt="Talk Posts 썸네일 이미지"></div>
                                    <div class="cmn-list-info">
                                        <span class="chatbot-link-btn"><img src="../../content/images/sub/talk-chatbot-ico.png" alt="챗봇 아이콘"></span>
                                        <p class="fs20 txt-elp__multi cmn-list-info__tit">고객경험</p>
                                        <p class="fs14 txt-elp__multi line3 cmn-list-info__txt">해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cmn-list-item col3">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="cmn-list-link__row">
                                    <div class="cmn-list-thumb"><img src="../../content/images/common/post-thumb-08.png" alt="Talk Posts 썸네일 이미지"></div>
                                    <div class="cmn-list-info">
                                        <span class="chatbot-link-btn"><img src="../../content/images/sub/talk-chatbot-ico.png" alt="챗봇 아이콘"></span>
                                        <p class="fs20 txt-elp__multi cmn-list-info__tit">국내사업</p>
                                        <p class="fs14 txt-elp__multi line3 cmn-list-info__txt">해당 본부에 대한 간략한 설명이 들어갑니다..</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cmn-list-item col3">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="cmn-list-link__row">
                                    <div class="cmn-list-thumb"><img src="../../content/images/common/post-thumb-10.png" alt="Talk Posts 썸네일 이미지"></div>
                                    <div class="cmn-list-info">
                                        <span class="chatbot-link-btn"><img src="../../content/images/sub/talk-chatbot-ico.png" alt="챗봇 아이콘"></span>
                                        <p class="fs20 txt-elp__multi cmn-list-info__tit">홍보</p>
                                        <p class="fs14 txt-elp__multi line3 cmn-list-info__txt">해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cmn-list-item col3">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="cmn-list-link__row">
                                    <div class="cmn-list-thumb"><img src="../../content/images/common/post-thumb-08.png" alt="Talk Posts 썸네일 이미지"></div>
                                    <div class="cmn-list-info">
                                        <span class="chatbot-link-btn"><img src="../../content/images/sub/talk-chatbot-ico.png" alt="챗봇 아이콘"></span>
                                        <p class="fs20 txt-elp__multi cmn-list-info__tit">고객경험</p>
                                        <p class="fs14 txt-elp__multi line3 cmn-list-info__txt">해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다. 해당 본부에 대한 간략한 설명이 들어갑니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cmn-list-item col3">
                                <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="cmn-list-link__row">
                                    <div class="cmn-list-thumb"><img src="../../content/images/common/post-thumb-08.png" alt="Talk Posts 썸네일 이미지"></div>
                                    <div class="cmn-list-info">
                                        <span class="chatbot-link-btn"><img src="../../content/images/sub/talk-chatbot-ico.png" alt="챗봇 아이콘"></span>
                                        <p class="fs20 txt-elp__multi cmn-list-info__tit">국내사업</p>
                                        <p class="fs14 txt-elp__multi line3 cmn-list-info__txt">해당 본부에 대한 간략한 설명이 들어갑니다..</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <p class="pt100 fw100 fs20 txt-cnt">더 많은 직무가 추가될 예정입니다.</p> <!-- 0310 zoe 추가 -->
                    </div> <!-- //grid -->
                </div> <!-- //talk posts -->
                <article class="sub-cmn-area sub-kakaochannel-area">
                    <div class="grid1170">
                        <h3 class="fs30 cmn-tit">챗봇으로 원하는 답변을 찾지 못하셨나요?<br>카카오톡 채널에서 문의를 남겨주세요!</h3>
                        <p class="fs18 cmn-txt">카카오톡 채널을 통해 채용 관련 문의에 1:1로 답변해드리고 있습니다.<br>문의를 남겨주시면 최대한 빠른 시일 내 답변해 드리겠습니다.</p>
                        <a href="javascript:void(0);" target="_blank" title="새 창 이동" class="pagelink-btn__md"><span class="label" data-label="카카오톡 채널 바로가기">카카오톡 채널 바로가기</span></a>
                        <div class="kakaochannel-phone">
                            <img src="../../content/images/sub/talk-kakaochannel-phone.png" alt="카카오톡 채널 폰배경 이미지">
                        </div>
                    </div> <!-- //grid -->
                </article> <!-- //kakao channel -->
            </div> <!-- //sub common wrapper -->
        </section>
        <!-- //sub page END -->
        <!-- footer START -->
        <footer></footer>
        <!-- //footer END -->
        <script src="../../content/scripts/load.js"></script>
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>